<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Filter Bubble</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|PT+Serif:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
